html {
    /*
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,106,121,1) 74%, rgba(2,0,36,1) 100%);
    */
}

body {
    background-color: white;
    font-family: 'Urbanist';
    width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 20px 0 gray;
}

h1 {
    color: #00305c;
    font-family: 'Rowdies';
    font-size: 40px;
    text-shadow: 10px 20px 0 black;
}

h2 {
    color: #00305c;
    font-family: 'Rowdies';
    font-size: 30px;
    display: inline;
}

h3 {
    color: #00305c;
    font-family: 'Rowdies';
    font-size: 20px;
}

p {
    display: none;
}

ol ul li a {
    background-color: #eba37a;
    color: black;
    font-family: 'Cutive Mono';
    font-size: 18px;
}

ol li {
    margin-top: 20px;
}

ul li {
    margin-top: 0;
}

ol ul li a:hover {
    color: black;
}

a {
    color: #0a5846;
}

a:hover {
    color: #63c86b;
}